<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="menu">Main menu</div>
    <div class="list-group">
        <a href="/add" class="list-group-item list-group-item-action"><i class="fas fa-plus"></i> Add new transaction</a>
        <a href="/list?category=INCOME" class="list-group-item list-group-item-action"><i class="fas fa-coins"></i> Show income transaction </a>
        <a href="/list?category=EXPENSE" class="list-group-item list-group-item-action"><i class="fas fa-shopping-cart"></i> Show expensive</a>
        <a href="/editablelist" class="list-group-item list-group-item-action"><i class="fas fa-edit"></i> Edit/delete transactions </a>
    </div>
</div>
</body>
</html>