<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="menu" th:text="|${title} TRANSACTIONS|">TYPE TRANSACTIONS</div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col" th:if="${editmode == true}">edit</th>
            <th scope="col" th:if="${editmode == true}">delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction:${transactions}">
            <td th:text="${transaction.id}">transaction id</td>
            <td th:text="${transaction.type}">transaction type</td>
            <td th:text="${transaction.amount}">transaction amount</td>
            <td th:text="${transaction.description}">transaction description</td>
            <td th:text="${transaction.date}">transaction date</td>
            <td th:if="${editmode == true}"><a th:href="@{/update?id={id}(id=${transaction.id})}" class="btn btn-success px-3"><i class="fas fa-tools"></i> Update</a></td>
            <td th:if="${editmode == true}"><a th:href="@{/delete?id={id}(id=${transaction.id})}" class="btn btn-danger px-3"><i class="fas fa-trash"></i> Delete</a></td>
        </tr>
        <tr class="summary-row">
            <td colspan="2">Sum</td>
            <td th:text="${sum}">1000</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>